{% extends "base.html" %}
{% load bootstrap3 %}

{% block extra_head %}
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
var timeoutID = '';
$(function() {
  $("input").on('input propertychange', function() {
    window.clearTimeout(timeoutID);
    timeoutID = window.setTimeout(function() {
       $.getJSON('{% url 'calc:evaluate' fg_pk mrn %}' + '?' + $('#myForm').serialize(), function (t){
         $.each( t, function( key, val ) {
    $("#id_" + key).val(val);
  });
       
       })
                                              }, 1000);
  })
});
</script>
{% endblock %}

{% block main_container %}
Enter data
<form id="myForm" action="." method="post">
{% csrf_token %}
{% bootstrap_form form %}
<input type="submit" value="OK">
</form>
<a href="{% url 'home' %}" >Home page</a>

{% endblock %}
